/.actionScriptProperties
/.project
/bin-debug
/bin-release
/bin-release-temp
adl.exe
static_tips.zip
node_modules
.DS_Store
.idea
.vscode
/tools/arduino
/tools/Arduino.app
/tmp/*
/dist/*
/web/tmp/project.sb2